# Gradle
.gradle/
build/
**/build/

# Android
local.properties
*.iml

# Signing material
*.jks
*.keystore

# IDE
.idea/
.vscode/

# Generated repository files
repo/apk/
repo/icon/
repo/index.json
repo/index.min.json
